{
	"engines": [
		{
			"name": "Leela Zero 225",
			"path": "../leela-zero/build/leelaz",
			"args": [
				"--gtp",
				"--noponder",
				"--visits",
				"32",
				"--threads",
				"1",
				"--weights",
				"networks/d42f950a"
			],
			"commands": [
				"time_settings 0 11 1"
			]
		},
		{
			"name": "Random",
			"path": "../gtp/examples/random",
			"args": [],
			"commands": []
		}
	],
	"timeout_seconds": 120,
	"passing_wins": true,
	"restart": false,
	"games": 100,
	"size": 19,
	"komi": 7.5
}
